@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.cabecalho {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 14px;
    
}

.cabecalho-logo-github {
    height: 50px;
}

.cabecalho-logo-instagram {
    height: 50px;
}

.cabecalho-logo-linkedin{
    height: 50px;
}

.principal {
    background-color: #0c0c0c;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:400px;
    padding: 100px 100px;
}

.principal-apresentacao {
    font-family: 'Righteous', cursive;
    color: #dfdfdf;
    font-size: 50px;
    font-weight: 400px;
}

.principal-texto {
    font-family: 'Sarala', sans-serif;
    color: #dfdfdf;
    font-size: 20px;
}

.minha_foto {
    height: 600px;
}

.habilidades {
    background-color: #131212;
    padding-bottom: 50px;
}

.habilidades-titulo {
    font-family: 'Righteous', cursive;
    color: #dfdfdf;
    font-size: 50px;
    text-align: center;
}
.habilidades-logos {
    display: block;
    flex-direction: row;
}

.git-logo {
    height: 350px;
    padding-left: 400px;

}

.html-logo {
    height: 400px;
}

.css-logo {
    height: 400px;
}